<div class="alert alert-success">


# IMPORTS

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib as mpl
mpl.rcParams['agg.path.chunksize'] = 10000 # assists with processor speed

import matplotlib.pyplot as plt
# Only works inside notebook
%matplotlib inline 

# import preprocessing
from sklearn.preprocessing import MinMaxScaler 
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import QuantileTransformer

from sklearn.neighbors import KNeighborsClassifier

import QMCBT_00_quicktips as qt
import QMCBT_01_acquire as acquire
import QMCBT_02_prepare as prepare
#import QMCBT_03_explore as explore
#import QMCBT_04_evaluate as evaluate
import QMCBT_explore_evaluate as ee
import QMCBT_wrangle as w

from env import user, password, host
# allows import reload without needing to clear kernel and rerun
# reload(packagename) 
from importlib import reload

import warnings
warnings.filterwarnings("ignore")

In [2]:
# This code refreshes all of my helper files (w/o the need to stop the kernel) as I continuously test and update
reload(qt)
reload(acquire)
reload(prepare)
#reload(explore)
#reload(evaluate)
reload(ee)
reload(w)

<div class="alert alert-warning">

    
## Get Data

In [3]:
query = """SELECT *
FROM predictions_2017
LEFT JOIN unique_properties USING (parcelid)
LEFT JOIN properties_2017 USING (parcelid)
LEFT JOIN airconditioningtype USING (airconditioningtypeid)
LEFT JOIN architecturalstyletype USING (architecturalstyletypeid)
LEFT JOIN buildingclasstype USING (buildingclasstypeid)
LEFT JOIN heatingorsystemtype USING (heatingorsystemtypeid)
LEFT JOIN propertylandusetype USING (propertylandusetypeid)
LEFT JOIN storytype USING (storytypeid)
LEFT JOIN typeconstructiontype USING (typeconstructiontypeid)
WHERE propertylandusetypeid = 261 and transactiondate LIKE '2017%'
"""

In [4]:
# Read in DataFrame from Codeup db using defined arguments.
df = pd.read_csv('zillow_2017_sfh_merge_all.csv')

<div class="alert alert-success">



# INITIAL PEEK AT DATAFRAME

In [5]:
df.shape

(52441, 69)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        76 non-null     float64
 1   storytypeid                   47 non-null     float64
 2   propertylandusetypeid         52441 non-null  int64
 3   heatingorsystemtypeid         33935 non-null  float64
 4   buildingclasstypeid           0 non-null      float64
 5   architecturalstyletypeid      70 non-null     float64
 6   airconditioningtypeid         13638 non-null  float64
 7   parcelid                      52441 non-null  int64
 8   id                            52441 non-null  int64
 9   logerror                      52441 non-null  float64
 10  transactiondate               52441 non-null  object
 11  id.1                          52441 non-null  int64
 12  basementsqft                  47 non-null     float64
 13  bathroomcnt                   52441 non-null  float64
 14  bedroomcnt                    52441 non-null  int64
 15  buildingqualitytypeid         33740 non-null  float64
 16  calculatedbathnbr             52304 non-null  float64
 17  decktypeid                    389 non-null    float64
 18  finishedfloor1squarefeet      4381 non-null   float64
 19  calculatedfinishedsquarefeet  52359 non-null  float64
 20  finishedsquarefeet12          52194 non-null  float64
 21  finishedsquarefeet13          0 non-null      float64
 22  finishedsquarefeet15          0 non-null      float64
 23  finishedsquarefeet50          4381 non-null   float64
 24  finishedsquarefeet6           165 non-null    float64
 25  fips                          52441 non-null  int64
 26  fireplacecnt                  7243 non-null   float64
 27  fullbathcnt                   52304 non-null  float64
 28  garagecarcnt                  18015 non-null  float64
 29  garagetotalsqft               18015 non-null  float64
 30  hashottuborspa                1515 non-null   float64
 31  latitude                      52441 non-null  int64
 32  longitude                     52441 non-null  int64
 33  lotsizesquarefeet             52072 non-null  float64
 34  poolcnt                       11096 non-null  float64
 35  poolsizesum                   867 non-null    float64
 36  pooltypeid10                  444 non-null    float64
 37  pooltypeid2                   1071 non-null   float64
 38  pooltypeid7                   10009 non-null  float64
 39  propertycountylandusecode     52441 non-null  object
 40  propertyzoningdesc            33848 non-null  object
 41  rawcensustractandblock        52441 non-null  float64
 42  regionidcity                  51404 non-null  float64
 43  regionidcounty                52441 non-null  int64
 44  regionidneighborhood          19033 non-null  float64
 45  regionidzip                   52415 non-null  float64
 46  roomcnt                       52441 non-null  int64
 47  threequarterbathnbr           6724 non-null   float64
 48  unitcnt                       33847 non-null  float64
 49  yardbuildingsqft17            1937 non-null   float64
 50  yardbuildingsqft26            63 non-null     float64
 51  yearbuilt                     52325 non-null  float64
 52  numberofstories               14561 non-null  float64
 53  fireplaceflag                 81 non-null     float64
 54  structuretaxvaluedollarcnt    52357 non-null  float64
 55  taxvaluedollarcnt             52440 non-null  float64
 56  assessmentyear                52441 non-null  int64
 57  landtaxvaluedollarcnt         52440 non-null  float64
 58  taxamount                     52437 non-null  float64
 59  taxdelinquencyflag            2079 non-null   object
 60  taxdelinquencyyear            2079 non-null   float64
 61  censustractandblock           52318 non-null  float64
 62  airconditioningdesc           13638 non-null  object
 63  architecturalstyledesc        70 non-null     object
 64  buildingclassdesc             0 non-null      float64
 65  heatingorsystemdesc           33935 non-null  object
 66  propertylandusedesc           52441 non-null  object
 67  storydesc                     47 non-null     object
 68  typeconstructiondesc          76 non-null     object
dtypes: float64(48), int64(11), object(10)
memory usage: 27.6+ MB

In [7]:
ee.nunique_column_objects(df)

transactiondate has 257 unique values.
propertycountylandusecode has 26 unique values.
propertyzoningdesc has 1286 unique values.
taxdelinquencyflag has 1 unique values.
airconditioningdesc has 4 unique values.
architecturalstyledesc has 5 unique values.
heatingorsystemdesc has 9 unique values.
propertylandusedesc has 1 unique values.
storydesc has 1 unique values.
typeconstructiondesc has 2 unique values.

In [8]:
ee.nunique_column_qty(df)

typeconstructiontypeid has 2 unique values.
storytypeid has 1 unique values.
propertylandusetypeid has 1 unique values.
heatingorsystemtypeid has 9 unique values.
buildingclasstypeid has 0 unique values.
architecturalstyletypeid has 5 unique values.
airconditioningtypeid has 4 unique values.
parcelid has 52320 unique values.
id has 52441 unique values.
logerror has 52180 unique values.
id.1 has 52320 unique values.
basementsqft has 41 unique values.
bathroomcnt has 22 unique values.
bedroomcnt has 14 unique values.
buildingqualitytypeid has 12 unique values.
calculatedbathnbr has 21 unique values.
decktypeid has 1 unique values.
finishedfloor1squarefeet has 1553 unique values.
calculatedfinishedsquarefeet has 4723 unique values.
finishedsquarefeet12 has 4716 unique values.
finishedsquarefeet13 has 0 unique values.
finishedsquarefeet15 has 0 unique values.
finishedsquarefeet50 has 1572 unique values.
finishedsquarefeet6 has 155 unique values.
fips has 3 unique values.
fireplacecnt has 5 unique values.
fullbathcnt has 13 unique values.
garagecarcnt has 14 unique values.
garagetotalsqft has 839 unique values.
hashottuborspa has 1 unique values.
latitude has 50478 unique values.
longitude has 50764 unique values.
lotsizesquarefeet has 14292 unique values.
poolcnt has 1 unique values.
poolsizesum has 262 unique values.
pooltypeid10 has 1 unique values.
pooltypeid2 has 1 unique values.
pooltypeid7 has 1 unique values.
rawcensustractandblock has 31440 unique values.
regionidcity has 175 unique values.
regionidcounty has 3 unique values.
regionidneighborhood has 437 unique values.
regionidzip has 381 unique values.
roomcnt has 16 unique values.
threequarterbathnbr has 4 unique values.
unitcnt has 3 unique values.
yardbuildingsqft17 has 504 unique values.
yardbuildingsqft26 has 57 unique values.
yearbuilt has 133 unique values.
numberofstories has 4 unique values.
fireplaceflag has 1 unique values.
structuretaxvaluedollarcnt has 37333 unique values.
taxvaluedollarcnt has 38942 unique values.
assessmentyear has 1 unique values.
landtaxvaluedollarcnt has 36912 unique values.
taxamount has 50834 unique values.
taxdelinquencyyear has 12 unique values.
censustractandblock has 31404 unique values.
buildingclassdesc has 0 unique values.

In [9]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df.describe(include='all'))

        typeconstructiontypeid  storytypeid  propertylandusetypeid  \
count                76.000000         47.0                52441.0
unique                     NaN          NaN                    NaN
top                        NaN          NaN                    NaN
freq                       NaN          NaN                    NaN
mean                  5.973684          7.0                  261.0
std                   0.229416          0.0                    0.0
min                   4.000000          7.0                  261.0
25%                   6.000000          7.0                  261.0
50%                   6.000000          7.0                  261.0
75%                   6.000000          7.0                  261.0
max                   6.000000          7.0                  261.0

        heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
count            33935.000000                  0.0                  70.00000
unique                    NaN                  NaN                       NaN
top                       NaN                  NaN                       NaN
freq                      NaN                  NaN                       NaN
mean                 3.966288                  NaN                   7.10000
std                  2.562506                  NaN                   2.66567
min                  1.000000                  NaN                   2.00000
25%                  2.000000                  NaN                   7.00000
50%                  2.000000                  NaN                   7.00000
75%                  7.000000                  NaN                   7.00000
max                 24.000000                  NaN                  21.00000

        airconditioningtypeid      parcelid            id      logerror  \
count            13638.000000  5.244100e+04  52441.000000  52441.000000
unique                    NaN           NaN           NaN           NaN
top                       NaN           NaN           NaN           NaN
freq                      NaN           NaN           NaN           NaN
mean                 2.438041  1.299912e+07  38859.892946      0.018298
std                  3.846176  3.411444e+06  22348.009638      0.177501
min                  1.000000  1.071186e+07      0.000000     -4.655420
25%                  1.000000  1.151022e+07  19546.000000     -0.024639
50%                  1.000000  1.257764e+07  38927.000000      0.007011
75%                  1.000000  1.412953e+07  58092.000000      0.040692
max                 13.000000  1.676878e+08  77612.000000      5.262999

       transactiondate          id.1  basementsqft   bathroomcnt  \
count            52441  5.244100e+04     47.000000  52441.000000
unique             257           NaN           NaN           NaN
top         2017-06-30           NaN           NaN           NaN
freq               810           NaN           NaN           NaN
mean               NaN  1.497270e+06    678.978723      2.299403
std                NaN  8.594393e+05    711.825226      1.022772
min                NaN  3.490000e+02     38.000000      0.000000
25%                NaN  7.579550e+05    263.500000      2.000000
50%                NaN  1.500810e+06    512.000000      2.000000
75%                NaN  2.241534e+06    809.500000      3.000000
max                NaN  2.982270e+06   3560.000000     18.000000

          bedroomcnt  buildingqualitytypeid  calculatedbathnbr  decktypeid  \
count   52441.000000           33740.000000       52304.000000       389.0
unique           NaN                    NaN                NaN         NaN
top              NaN                    NaN                NaN         NaN
freq             NaN                    NaN                NaN         NaN
mean        3.300681               6.264167           2.304738        66.0
std         0.949094               1.716162           1.017966         0.0
min         0.000000               1.000000           1.000000        66.0
25%         3.000000               5.000000           2.000000        66.0
50%         3.000000               6.000000           2.000000        66.0
75%         4.000000               8.000000           3.000000        66.0
max        14.000000              12.000000          18.000000        66.0

        finishedfloor1squarefeet  calculatedfinishedsquarefeet  \
count                4381.000000                  52359.000000
unique                       NaN                           NaN
top                          NaN                           NaN
freq                         NaN                           NaN
mean                 1545.611048                   1922.890754
std                   674.865269                   1004.365838
min                   184.000000                    128.000000
25%                  1151.000000                   1268.000000
50%                  1410.000000                   1659.000000
75%                  1759.000000                   2306.000000
max                  6912.000000                  21929.000000

        finishedsquarefeet12  finishedsquarefeet13  finishedsquarefeet15  \
count           52194.000000                   0.0                   0.0
unique                   NaN                   NaN                   NaN
top                      NaN                   NaN                   NaN
freq                     NaN                   NaN                   NaN
mean             1925.046155                   NaN                   NaN
std              1004.275194                   NaN                   NaN
min               128.000000                   NaN                   NaN
25%              1270.000000                   NaN                   NaN
50%              1660.500000                   NaN                   NaN
75%              2308.000000                   NaN                   NaN
max             21929.000000                   NaN                   NaN

        finishedsquarefeet50  finishedsquarefeet6          fips  fireplacecnt  \
count            4381.000000           165.000000  52441.000000   7243.000000
unique                   NaN                  NaN           NaN           NaN
top                      NaN                  NaN           NaN           NaN
freq                     NaN                  NaN           NaN           NaN
mean             1566.374800          1241.078788   6049.132149      1.209858
std               744.522856           776.959074     21.029067      0.512885
min               184.000000           380.000000   6037.000000      1.000000
25%              1152.000000           784.000000   6037.000000      1.000000
50%              1414.000000          1008.000000   6037.000000      1.000000
75%              1770.000000          1320.000000   6059.000000      1.000000
max             12467.000000          5598.000000   6111.000000      5.000000

         fullbathcnt  garagecarcnt  garagetotalsqft  hashottuborspa  \
count   52304.000000  18015.000000     18015.000000          1515.0
unique           NaN           NaN              NaN             NaN
top              NaN           NaN              NaN             NaN
freq             NaN           NaN              NaN             NaN
mean        2.239580      1.948987       495.875715             1.0
std         0.993207      0.549944       157.044712             0.0
min         1.000000      0.000000         0.000000             1.0
25%         2.000000      2.000000       426.000000             1.0
50%         2.000000      2.000000       462.000000             1.0
75%         3.000000      2.000000       567.000000             1.0
max        18.000000     14.000000      4251.000000             1.0

            latitude     longitude  lotsizesquarefeet  poolcnt  poolsizesum  \
count   5.244100e+04  5.244100e+04       5.207200e+04  11096.0   867.000000
unique           NaN           NaN                NaN      NaN          NaN
top              NaN           NaN                NaN      NaN          NaN
freq             NaN           NaN                NaN      NaN          NaN
mean    3.402254e+07 -1.181942e+08       1.133962e+04      1.0   518.318339
std     2.739787e+05  3.566626e+05       8.674763e+04      0.0   156.468209
min     3.334062e+07 -1.194754e+08       2.360000e+02      1.0    24.000000
25%     3.382691e+07 -1.184007e+08       5.583000e+03      1.0   424.500000
50%     3.402378e+07 -1.181531e+08       6.840500e+03      1.0   500.000000
75%     3.418715e+07 -1.179292e+08       8.798250e+03      1.0   600.000000
max     3.481877e+07 -1.175546e+08       6.971010e+06      1.0  1500.000000

        pooltypeid10  pooltypeid2  pooltypeid7 propertycountylandusecode  \
count          444.0       1071.0      10009.0                     52441
unique           NaN          NaN          NaN                        26
top              NaN          NaN          NaN                      0100
freq             NaN          NaN          NaN                     26782
mean             1.0          1.0          1.0                       NaN
std              0.0          0.0          0.0                       NaN
min              1.0          1.0          1.0                       NaN
25%              1.0          1.0          1.0                       NaN
50%              1.0          1.0          1.0                       NaN
75%              1.0          1.0          1.0                       NaN
max              1.0          1.0          1.0                       NaN

       propertyzoningdesc  rawcensustractandblock   regionidcity  \
count               33848            5.244100e+04   51404.000000
unique               1286                     NaN            NaN
top                  LAR1                     NaN            NaN
freq                 6498                     NaN            NaN
mean                  NaN            6.049443e+07   33501.442222
std                   NaN            2.086892e+05   49175.194221
min                   NaN            6.037101e+07    3491.000000
25%                   NaN            6.037401e+07   12447.000000
50%                   NaN            6.037620e+07   24812.000000
75%                   NaN            6.059042e+07   40227.000000
max                   NaN            6.111009e+07  396556.000000

        regionidcounty  regionidneighborhood    regionidzip       roomcnt  \
count     52441.000000          19033.000000   52415.000000  52441.000000
unique             NaN                   NaN            NaN           NaN
top                NaN                   NaN            NaN           NaN
freq               NaN                   NaN            NaN           NaN
mean       2524.587651         180267.130615   96635.846380      1.893709
std         803.989998         159824.926767    4605.107533      3.146437
min        1286.000000           6952.000000   95982.000000      0.000000
25%        1286.000000          41131.000000   96206.000000      0.000000
50%        3101.000000         118208.000000   96412.000000      0.000000
75%        3101.000000         274514.000000   96995.000000      5.000000
max        3101.000000         764167.000000  399675.000000     15.000000

        threequarterbathnbr       unitcnt  yardbuildingsqft17  \
count           6724.000000  33847.000000         1937.000000
unique                  NaN           NaN                 NaN
top                     NaN           NaN                 NaN
freq                    NaN           NaN                 NaN
mean               1.013682      1.000916          337.627775
std                0.142616      0.031212          250.021615
min                1.000000      1.000000           11.000000
25%                1.000000      1.000000          200.000000
50%                1.000000      1.000000          280.000000
75%                1.000000      1.000000          400.000000
max                7.000000      3.000000         3191.000000

        yardbuildingsqft26     yearbuilt  numberofstories  fireplaceflag  \
count            63.000000  52325.000000     14561.000000           81.0
unique                 NaN           NaN              NaN            NaN
top                    NaN           NaN              NaN            NaN
freq                   NaN           NaN              NaN            NaN
mean            225.619048   1963.393884         1.413914            1.0
std             188.505106     23.133571         0.540677            0.0
min              12.000000   1878.000000         1.000000            1.0
25%              71.500000   1950.000000         1.000000            1.0
50%             180.000000   1961.000000         1.000000            1.0
75%             317.000000   1979.000000         2.000000            1.0
max             868.000000   2016.000000         6.000000            1.0

        structuretaxvaluedollarcnt  taxvaluedollarcnt  assessmentyear  \
count                 5.235700e+04       5.244000e+04         52441.0
unique                         NaN                NaN             NaN
top                            NaN                NaN             NaN
freq                           NaN                NaN             NaN
mean                  1.965338e+05       5.296882e+05          2016.0
std                   2.543401e+05       7.518946e+05             0.0
min                   1.290000e+02       1.000000e+03          2016.0
25%                   7.707100e+04       1.937475e+05          2016.0
50%                   1.318110e+05       3.736120e+05          2016.0
75%                   2.263340e+05       6.193012e+05          2016.0
max                   9.164901e+06       4.906124e+07          2016.0

        landtaxvaluedollarcnt      taxamount taxdelinquencyflag  \
count            5.244000e+04   52437.000000               2079
unique                    NaN            NaN                  1
top                       NaN            NaN                  Y
freq                      NaN            NaN               2079
mean             3.334655e+05    6453.511209                NaN
std              5.705278e+05    8755.568452                NaN
min              1.610000e+02      49.180000                NaN
25%              7.602075e+04    2656.220000                NaN
50%              2.180320e+05    4647.740000                NaN
75%              4.086068e+05    7377.500000                NaN
max              4.895220e+07  586639.300000                NaN

        taxdelinquencyyear  censustractandblock airconditioningdesc  \
count          2079.000000         5.231800e+04               13638
unique                 NaN                  NaN                   4
top                    NaN                  NaN             Central
freq                   NaN                  NaN               11895
mean             14.102453         6.050240e+13                 NaN
std               2.394972         1.859036e+12                 NaN
min               4.000000         6.037101e+13                 NaN
25%              14.000000         6.037401e+13                 NaN
50%              15.000000         6.037620e+13                 NaN
75%              15.000000         6.059042e+13                 NaN
max              99.000000         4.830301e+14                 NaN

       architecturalstyledesc  buildingclassdesc heatingorsystemdesc  \
count                      70                0.0               33935
unique                      5                NaN                   9
top              Contemporary                NaN             Central
freq                       62                NaN               20736
mean                      NaN                NaN                 NaN
std                       NaN                NaN                 NaN
min                       NaN                NaN                 NaN
25%                       NaN                NaN                 NaN
50%                       NaN                NaN                 NaN
75%                       NaN                NaN                 NaN
max                       NaN                NaN                 NaN

              propertylandusedesc storydesc typeconstructiondesc
count                       52441        47                   76
unique                          1         1                    2
top     Single Family Residential  Basement                Frame
freq                        52441        47                   75
mean                          NaN       NaN                  NaN
std                           NaN       NaN                  NaN
min                           NaN       NaN                  NaN
25%                           NaN       NaN                  NaN
50%                           NaN       NaN                  NaN
75%                           NaN       NaN                  NaN
max                           NaN       NaN                  NaN

In [10]:
# list columns
df.columns

Index(['typeconstructiontypeid', 'storytypeid', 'propertylandusetypeid',
       'heatingorsystemtypeid', 'buildingclasstypeid',
       'architecturalstyletypeid', 'airconditioningtypeid', 'parcelid', 'id',
       'logerror', 'transactiondate', 'id.1', 'basementsqft', 'bathroomcnt',
       'bedroomcnt', 'buildingqualitytypeid', 'calculatedbathnbr',
       'decktypeid', 'finishedfloor1squarefeet',
       'calculatedfinishedsquarefeet', 'finishedsquarefeet12',
       'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50',
       'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt',
       'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'latitude',
       'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum',
       'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertyzoningdesc',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'airconditioningdesc', 'architecturalstyledesc',
       'buildingclassdesc', 'heatingorsystemdesc', 'propertylandusedesc',
       'storydesc', 'typeconstructiondesc'],
      dtype='object')

In [11]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,52431,52432,52433,52434,52435,52436,52437,52438,52439,52440
typeconstructiontypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
storytypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
propertylandusetypeid,261,261,261,261,261,261,261,261,261,261,...,261,261,261,261,261,261,261,261,261,261
heatingorsystemtypeid,NaN,NaN,NaN,2.0,2.0,NaN,2.0,2.0,NaN,NaN,...,2.0,7.0,NaN,2.0,2.0,2.0,2.0,NaN,2.0,2.0
buildingclasstypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
buildingclassdesc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
heatingorsystemdesc,NaN,NaN,NaN,Central,Central,NaN,Central,Central,NaN,NaN,...,Central,Floor/Wall,NaN,Central,Central,Central,Central,NaN,Central,Central
propertylandusedesc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,...,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential
storydesc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
typeconstructiondesc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class="alert alert-success">


## EXPLORE & PREPARE DATA

<div class="alert alert-warning">


## Clean Whitespace

In [12]:
ee.check_whitespace(df)

Cleaning 52441 Whitespace characters found and replaced with NULL/NaN.
Resulting in 0 additional rows containing NULL/NaN.


COUNT OF NULL/NaN PER COLUMN:
buildingclassdesc               52441
buildingclasstypeid             52441
finishedsquarefeet15            52441
finishedsquarefeet13            52441
basementsqft                    52394
storydesc                       52394
storytypeid                     52394
yardbuildingsqft26              52378
architecturalstyletypeid        52371
architecturalstyledesc          52371
typeconstructiontypeid          52365
typeconstructiondesc            52365
fireplaceflag                   52360
finishedsquarefeet6             52276
decktypeid                      52052
pooltypeid10                    51997
poolsizesum                     51574
pooltypeid2                     51370
hashottuborspa                  50926
yardbuildingsqft17              50504
taxdelinquencyyear              50362
taxdelinquencyflag              50362
finishedsquarefeet50            48060
finishedfloor1squarefeet        48060
threequarterbathnbr             45717
fireplacecnt                    45198
pooltypeid7                     42432
poolcnt                         41345
airconditioningtypeid           38803
airconditioningdesc             38803
numberofstories                 37880
garagecarcnt                    34426
garagetotalsqft                 34426
regionidneighborhood            33408
buildingqualitytypeid           18701
unitcnt                         18594
propertyzoningdesc              18593
heatingorsystemdesc             18506
heatingorsystemtypeid           18506
regionidcity                     1037
lotsizesquarefeet                 369
finishedsquarefeet12              247
calculatedbathnbr                 137
fullbathcnt                       137
censustractandblock               123
yearbuilt                         116
structuretaxvaluedollarcnt         84
calculatedfinishedsquarefeet       82
regionidzip                        26
taxamount                           4
taxvaluedollarcnt                   1
landtaxvaluedollarcnt               1
bedroomcnt                          0
propertylandusedesc                 0
propertylandusetypeid               0
id                                  0
transactiondate                     0
assessmentyear                      0
logerror                            0
parcelid                            0
fips                                0
latitude                            0
roomcnt                             0
longitude                           0
regionidcounty                      0
rawcensustractandblock              0
bathroomcnt                         0
propertycountylandusecode           0
id.1                                0
dtype: int64

<div class="alert alert-warning">


## Clean Duplicates

In [13]:
# Run custom Function that checks for duplicate Rows and Columns
ee.check_duplicates(df)

There are 0 duplicate ROWS.
No Action Needed.


There are 3 duplicate COLUMNS that need to be removed.
Copy, Paste, and Run the following Code: "df=df.T.drop_duplicates().T"

This is the list of Dupliacate Columns:
['buildingclassdesc', 'finishedsquarefeet13', 'finishedsquarefeet15']

<div class="alert alert-info">


## OBSERVATION:
    
#### Duplicated Columns
* finishedsquarefeet13
* finishedsquarefeet15
* buildingclassdesc

#### There were four completely Null/NaN Columns
#### buildingclasstypeid was kept because it was the first column
* buildingclasstypeid             52441
* finishedsquarefeet13            52441
* finishedsquarefeet15            52441
* buildingclassdesc               52441

### These will be handled when we clean Null/NaN

<div class="alert alert-warning">


## Clean ```parcelid``` Duplicates

In [14]:
df.parcelid.count()

52441

In [15]:
df.parcelid.nunique()

52320

In [16]:
df.parcelid.count() - df.parcelid.nunique()

121

In [17]:
print(df.parcelid[df.parcelid.duplicated()].drop_duplicates().count())

120

In [18]:
df.shape

(52441, 69)

In [49]:
with pd.option_context('display.max_rows', None): 
    print(df.parcelid.value_counts().head(121))

11991059     3
11957553     2
12478591     2
12035592     2
12443331     2
12621730     2
11451345     2
11420117     2
14092694     2
12870253     2
14532131     2
11603473     2
12121210     2
12057023     2
14079874     2
12114701     2
12955531     2
11717962     2
17225336     2
14236060     2
11721753     2
14008322     2
11969146     2
17165666     2
11967869     2
11552513     2
10879060     2
11446756     2
11917650     2
12982361     2
11961462     2
12196319     2
14097534     2
11429175     2
14448410     2
11696784     2
12492881     2
12847318     2
17280166     2
14012730     2
12941764     2
10833654     2
12285822     2
13071085     2
12827519     2
12575721     2
11061050     2
12178305     2
12535098     2
17098564     2
10979425     2
10739478     2
13083743     2
14088988     2
13880422     2
11733550     2
11389003     2
10779619     2
12519794     2
11499166     2
12814323     2
11705026     2
10722858     2
11797465     2
11921077     2
12137395     2
14430658     2
12048224     2
12224279     2
11958628     2
12749741     2
13973642     2
13066981     2
14010551     2
14074415     2
12811794     2
12385712     2
11391972     2
12537644     2
13960284     2
14050918     2
17165634     2
10871677     2
11499751     2
11187927     2
17086759     2
12118682     2
11391577     2
17136356     2
13885693     2
11460921     2
13893511     2
13921492     2
10732347     2
17193966     2
10811539     2
14365030     2
11312124     2
11743374     2
11367981     2
14269464     2
11711539     2
10976131     2
10984661     2
10956664     2
11658743     2
14254548     2
12099888     2
11289917     2
17282392     2
14257065     2
11830465     2
13863275     2
12347492     2
14455319     2
11289757     2
162960529    2
11460552     2
12892594     2
12102046     2
12895720     1
Name: parcelid, dtype: int64

In [51]:
column_list_original = list(df.parcelid)
column_list_original_df = pd.DataFrame(list(df.parcelid))
column_list_original_df.shape[0]

52441

In [50]:
column_list_original

[14297519,
 17052889,
 14186244,
 12177905,
 12095076,
 12069064,
 12790562,
 11104527,
 13944538,
 17110996,
 14375300,
 11830315,
 14387959,
 14349322,
 11706737,
 12531488,
 14314879,
 11130689,
 12036177,
 14333888,
 12713253,
 14338242,
 11680471,
 12155445,
 14344863,
 10852826,
 10871883,
 10900115,
 11737342,
 12106936,
 11405344,
 13043344,
 11036179,
 14455676,
 14463877,
 10828742,
 13022358,
 13007403,
 14452416,
 14448439,
 12464464,
 12840475,
 13091973,
 14432426,
 11016518,
 14434171,
 11018202,
 10808296,
 11023776,
 12871444,
 12879860,
 13069118,
 13055657,
 12481281,
 10736968,
 14191835,
 10935174,
 14284348,
 12579560,
 14201161,
 10925280,
 12218511,
 14121694,
 12227278,
 14249444,
 11652563,
 10871205,
 14210616,
 14296692,
 10901522,
 14434754,
 14179809,
 12188496,
 11878863,
 14176622,
 14260184,
 10726564,
 12346913,
 13880979,
 11309647,
 12350928,
 13872686,
 14170679,
 14172985,
 13854120,
 13850030,
 11177755,
 17134185,
 13840290,
 13101300,
 17292247,
 12377345,
 17141654,
 14254328,
 14460270,
 10869404,
 11417036,
 11061029,
 13038537,
 12412669,
 17148798,
 11165223,
 10722904,
 17152676,
 12095717,
 10722606,
 14472932,
 10829251,
 10867021,
 17145540,
 13069501,
 14439114,
 11953203,
 11151200,
 13061656,
 14404711,
 14444388,
 11394750,
 11396736,
 14183249,
 13054430,
 14449536,
 11885059,
 12397668,
 14190895,
 12397984,
 14195758,
 13890111,
 14079743,
 13891916,
 14289197,
 11203489,
 11120717,
 14015449,
 14010220,
 11201077,
 14123287,
 10883322,
 13997525,
 14347482,
 14348290,
 14284235,
 13995177,
 14128971,
 14350624,
 12367476,
 14019678,
 14019702,
 17079456,
 12184760,
 14081891,
 12168927,
 11913978,
 11211588,
 14066320,
 14066147,
 12159798,
 11228058,
 12273277,
 11236808,
 14029565,
 17091159,
 14294111,
 12266095,
 14158746,
 14129888,
 14130805,
 17114377,
 14394667,
 13922088,
 12137023,
 11100766,
 17117963,
 10846092,
 13908305,
 10845467,
 11938798,
 14401855,
 12134073,
 12133644,
 11186142,
 11804310,
 17121771,
 17080722,
 11301683,
 12327807,
 14391477,
 11189918,
 10739358,
 13970493,
 12147298,
 13964073,
 17284274,
 14132029,
 14133173,
 12317762,
 12144809,
 11285201,
 13937866,
 11107856,
 11816446,
 14378255,
 14379393,
 11871082,
 14135206,
 17069263,
 13943078,
 12994393,
 12761067,
 17208694,
 11687008,
 17210760,
 10982900,
 11570788,
 11571121,
 17214955,
 12041558,
 12715651,
 12036995,
 11580688,
 12047834,
 12781170,
 11009153,
 12835029,
 12485409,
 12485523,
 11983501,
 11003157,
 12805800,
 12496886,
 11699600,
 17203514,
 12500533,
 17236698,
 10783039,
 10927057,
 10936058,
 17247490,
 10777579,
 17246711,
 17250533,
 10919972,
 10920449,
 12027922,
 12026694,
 12634734,
 12634340,
 12627654,
 17234117,
 14492000,
 12439387,
 14497772,
 11722723,
 12934631,
 12929647,
 17278765,
 11027029,
 13930564,
 12886314,
 17173851,
 10813882,
 17171355,
 11478860,
 11505868,
 17172144,
 17190183,
 10819810,
 10821119,
 12479011,
 14484783,
 12684194,
 17256977,
 14083909,
 12681016,
 10757091,
 11399657,
 10777361,
 11472124,
 10777592,
 12673588,
 12668915,
 14111204,
 17226173,
 12422047,
 14081668,
 10779754,
 12528642,
 12427592,
 12394797,
 11218560,
 12992244,
 12697883,
 12697311,
 11649080,
 14068958,
 14069841,
 11166068,
 14076487,
 11858588,
 12691117,
 12663883,
 11464584,
 14166843,
 12950296,
 17235293,
 14185399,
 11420675,
 12954133,
 11748161,
 12435065,
 12215942,
 10775404,
 12666933,
 11188562,
 10789168,
 13040781,
 12653123,
 14133390,
 12937320,
 10868058,
 11850664,
 14139421,
 12586633,
 10777481,
 12631325,
 14144889,
 11893072,
 12847539,
 14043495,
 12811946,
 11296299,
 12806043,
 12494954,
 11701552,
 17298153,
 17201260,
 11343349,
 11699164,
 13932227,
 12794536,
 12381818,
 13934699,
 12783912,
 10767861,
 12859526,
 12855549,
 11550029,
 11297800,
 12853550,
 13855414,
 17133826,
 17292974,
 17292980,
 13867959,
 12837439,
 12830013,
 12828324,
 11305770,
 12827852,
 13100833,
 12485767,
 12338129,
 13893213,
 17271030,
 13903353,
 12818847,
 11705017,
 11550326,
 17266352,
 12886129,
 12282002,
 10852965,
 12727098,
 12726396,
 17215043,
 13059995,
 14015701,
 13058129,
 11846106,
 14036132,
 11847191,
 12711834,
 14043220,
 12741348,
 11683780,
 12287923,
 12522499,
 12472855,
 13947382,
 13950330,
 12384132,
 11553543,
 11692679,
 17108044,
 13070751,
 11233714,
 13971239,
 13978161,
 11500043,
 13980139,
 12293484,
 12758091,
 10809581,
 17276194,
 17104278,
 13985550,
 13971972,
 14009960,
 12147224,
 14369913,
 10905421,
 14276588,
 14279374,
 14413717,
 11906847,
 14482342,
 10996354,
 11989016,
 10718613,
 14271956,
 13029625,
 14266663,
 14267336,
 14467951,
 10974210,
 14377624,
 11965590,
 12096077,
 11968112,
 14271819,
 10717029,
 14268464,
 14367871,
 12051905,
 12077991,
 14345199,
 14326779,
 11915981,
 10910117,
 12071423,
 10909944,
 12077002,
 14332281,
 14338774,
 12165486,
 11043049,
 12149618,
 13881053,
 11911467,
 11912782,
 11035815,
 14531213,
 14531476,
 12168225,
 11983413,
 11004546,
 12080910,
 14457485,
 11149694,
 17246686,
 11078479,
 14247381,
 14395864,
 12114854,
 12192683,
 14427342,
 11939935,
 14238550,
 12003245,
 14421405,
 10921574,
 11104261,
 12019744,
 14389003,
 14414794,
 10933263,
 11092018,
 11075020,
 10902592,
 12934104,
 11740681,
 13856175,
 12364985,
 12128380,
 13855328,
 12889867,
 13889346,
 14502192,
 11494333,
 14498414,
 10809910,
 14420961,
 13889336,
 10841179,
 17174055,
 13873331,
 11976183,
 17173926,
 12455538,
 12893892,
 13867679,
 13859904,
 12920749,
 12893320,
 12921430,
 17127460,
 17127256,
 11087434,
 17281750,
 14422482,
 11744680,
 11954739,
 11394029,
 17182983,
 11431869,
 10827253,
 10902803,
 13018741,
 12098438,
 10902180,
 14452873,
 17144241,
 12411782,
 17287646,
 13035191,
 12399677,
 11963138,
 14453601,
 12999807,
 11379435,
 14472838,
 12084832,
 14496795,
 11048364,
 13835647,
 11455855,
 11084642,
 14487972,
 17157828,
 12969979,
 10820247,
 17282621,
 12374987,
 12089133,
 12742740,
 11442628,
 10905437,
 11345166,
 13077655,
 10835374,
 12091547,
 14474908,
 14496852,
 12872473,
 12828363,
 12869865,
 12686132,
 12032357,
 11601473,
 12680411,
 11601821,
 12673742,
 12671002,
 11608469,
 10958020,
 17228833,
 17229129,
 17216772,
 17262202,
 11997256,
 11676921,
 10971463,
 12701075,
 17261587,
 10954582,
 12657352,
 10927383,
 10927535,
 11657029,
 11643627,
 12579658,
 10780171,
 11647399,
 12023386,
 12611007,
 12612840,
 12653289,
 10952984,
 12651793,
 11578867,
 11662937,
 11625145,
 12617525,
 12617337,
 12552357,
 17249314,
 12552934,
 11578746,
 10978637,
 12716175,
 11711024,
 12485471,
 11709871,
 17196910,
 12819999,
 11983750,
 12819136,
 10718991,
 12814777,
 12835004,
 11517235,
 11511695,
 11024385,
 12861609,
 11023352,
 11502939,
 11978142,
 12074210,
 11532400,
 12854999,
 11508656,
 14061116,
 12069604,
 11551880,
 11555650,
 12510814,
 12758817,
 11560770,
 12755629,
 11680763,
 12040815,
 12048189,
 12776218,
 11549102,
 10718880,
 17200628,
 11002392,
 17200736,
 12056451,
 12796007,
 12789721,
 11989543,
 12499826,
 12795639,
 14215602,
 14345725,
 14295140,
 11818564,
 14297397,
 11930319,
 11041026,
 12319615,
 11283813,
 11136059,
 12314178,
 13949910,
 11215536,
 12145585,
 14069422,
 12167167,
 14319131,
 12145878,
 17110949,
 14181762,
 13939198,
 11208137,
 11869378,
 11197626,
 11868300,
 14178641,
 14393398,
 11721753,
 11721753,
 14287204,
 11867096,
 13933655,
 14113389,
 11140263,
 11909799,
 11205565,
 10860028,
 14169897,
 13937874,
 14177716,
 13959427,
 11219009,
 14025664,
 13987774,
 14022590,
 13992029,
 11920875,
 14336357,
 11116964,
 11921664,
 11267235,
 12279439,
 14345793,
 13984566,
 13984559,
 13966999,
 13970419,
 11127580,
 11305540,
 11153699,
 11850039,
 11231565,
 12165507,
 14370721,
 10730720,
 12162769,
 14363157,
 14327652,
 14331525,
 13971315,
 14131799,
 12281458,
 12333570,
 11295251,
 10734456,
 10727141,
 10866265,
 11298645,
 12178129,
 12338557,
 11145837,
 14221827,
 14214264,
 13917650,
 11096109,
 17119929,
 11192144,
 11874823,
 14136049,
 14209793,
 14404464,
 13902598,
 17297959,
 11191920,
 13913723,
 10866354,
 11179602,
 14404365,
 17055289,
 11194954,
 11177034,
 14271341,
 14153001,
 13893178,
 12186785,
 14145280,
 10917829,
 11508273,
 11718163,
 12271482,
 17087698,
 14144470,
 11574891,
 12229635,
 12849228,
 11227940,
 10979953,
 10964437,
 12714856,
 11235753,
 14338670,
 12882529,
 12883906,
 14167635,
 11180405,
 17178516,
 17178343,
 12639178,
 10761048,
 10868238,
 10853825,
 12894542,
 11262792,
 12895034,
 11494609,
 14331489,
 12278378,
 14154567,
 14031654,
 10889441,
 12682409,
 17232528,
 12703886,
 11153786,
 11997479,
 11182894,
 11240304,
 14265275,
 11502007,
 11673739,
 14166104,
 10786612,
 12244733,
 14115068,
 12518581,
 12755884,
 12518180,
 11864955,
 10996457,
 12218561,
 14247835,
 12519167,
 17075742,
 11206673,
 11686265,
 11100381,
 17267723,
 14275084,
 11602158,
 17207486,
 14275529,
 10992561,
 11198913,
 11190655,
 12049843,
 12781278,
 14123764,
 14100876,
 12805168,
 14315097,
 12827854,
 12031755,
 11004728,
 17082723,
 12834638,
 12265162,
 14141646,
 14064278,
 17196804,
 17196829,
 11289917,
 11289917,
 10884620,
 12806349,
 12220953,
 11002440,
 11002537,
 17069449,
 10765863,
 12741995,
 12819844,
 14298170,
 14246296,
 12803657,
 17258252,
 10872034,
 12470439,
 11059859,
 13901624,
 17287180,
 12407664,
 11659011,
 14201207,
 11286280,
 12143689,
 11962313,
 13847548,
 13943803,
 13041099,
 12193744,
 11096837,
 12311684,
 11436530,
 12137700,
 14469644,
 13015562,
 11319347,
 12131894,
 11059395,
 14377018,
 11425917,
 14420731,
 17292548,
 14212949,
 10934281,
 11954030,
 11390064,
 13928600,
 14440214,
 11078998,
 11348662,
 11165913,
 11165717,
 14434412,
 13928877,
 10725593,
 11391622,
 14394241,
 12899884,
 10895765,
 13047258,
 10830477,
 10936481,
 11281318,
 14389133,
 10712236,
 11103828,
 11950466,
 10902239,
 12391711,
 11280776,
 14224399,
 17245382,
 12616485,
 13887695,
 10851565,
 10947995,
 12014557,
 11272513,
 12942828,
 17123883,
 17293309,
 12078184,
 13891982,
 11270027,
 11034253,
 11661319,
 11306866,
 11268723,
 12924806,
 11309251,
 17234729,
 12916109,
 11473672,
 17107657,
 12355139,
 11110475,
 10756987,
 13959503,
 11090629,
 12977103,
 12904552,
 12910591,
 14374810,
 11302562,
 12281921,
 13972161,
 11056045,
 13872397,
 11052240,
 11824573,
 17283262,
 13894953,
 12613626,
 12972713,
 12434368,
 14446519,
 11458204,
 11787443,
 13053057,
 12523716,
 10808161,
 13080830,
 17056757,
 11094302,
 12781626,
 17056189,
 13890822,
 12700980,
 17246635,
 11599658,
 13900170,
 14141443,
 10771619,
 17262038,
 14153569,
 11878440,
 14421058,
 11183006,
 10837354,
 14219580,
 11182836,
 11800566,
 14210968,
 14165595,
 13886097,
 12145305,
 14080737,
 14468236,
 11058628,
 14019238,
 11008989,
 14375039,
 12550533,
 14485613,
 12024708,
 12436179,
 10851199,
 14184436,
 14468020,
 14234594,
 13061651,
 17054520,
 11553452,
 12915532,
 12813400,
 ...]

In [20]:
column_list_unique = list(df.parcelid.unique())
column_list_unique_df = pd.DataFrame(column_list_unique)
column_list_unique_df.shape[0]

52320

In [21]:
column_list_unique

[14297519,
 17052889,
 14186244,
 12177905,
 12095076,
 12069064,
 12790562,
 11104527,
 13944538,
 17110996,
 14375300,
 11830315,
 14387959,
 14349322,
 11706737,
 12531488,
 14314879,
 11130689,
 12036177,
 14333888,
 12713253,
 14338242,
 11680471,
 12155445,
 14344863,
 10852826,
 10871883,
 10900115,
 11737342,
 12106936,
 11405344,
 13043344,
 11036179,
 14455676,
 14463877,
 10828742,
 13022358,
 13007403,
 14452416,
 14448439,
 12464464,
 12840475,
 13091973,
 14432426,
 11016518,
 14434171,
 11018202,
 10808296,
 11023776,
 12871444,
 12879860,
 13069118,
 13055657,
 12481281,
 10736968,
 14191835,
 10935174,
 14284348,
 12579560,
 14201161,
 10925280,
 12218511,
 14121694,
 12227278,
 14249444,
 11652563,
 10871205,
 14210616,
 14296692,
 10901522,
 14434754,
 14179809,
 12188496,
 11878863,
 14176622,
 14260184,
 10726564,
 12346913,
 13880979,
 11309647,
 12350928,
 13872686,
 14170679,
 14172985,
 13854120,
 13850030,
 11177755,
 17134185,
 13840290,
 13101300,
 17292247,
 12377345,
 17141654,
 14254328,
 14460270,
 10869404,
 11417036,
 11061029,
 13038537,
 12412669,
 17148798,
 11165223,
 10722904,
 17152676,
 12095717,
 10722606,
 14472932,
 10829251,
 10867021,
 17145540,
 13069501,
 14439114,
 11953203,
 11151200,
 13061656,
 14404711,
 14444388,
 11394750,
 11396736,
 14183249,
 13054430,
 14449536,
 11885059,
 12397668,
 14190895,
 12397984,
 14195758,
 13890111,
 14079743,
 13891916,
 14289197,
 11203489,
 11120717,
 14015449,
 14010220,
 11201077,
 14123287,
 10883322,
 13997525,
 14347482,
 14348290,
 14284235,
 13995177,
 14128971,
 14350624,
 12367476,
 14019678,
 14019702,
 17079456,
 12184760,
 14081891,
 12168927,
 11913978,
 11211588,
 14066320,
 14066147,
 12159798,
 11228058,
 12273277,
 11236808,
 14029565,
 17091159,
 14294111,
 12266095,
 14158746,
 14129888,
 14130805,
 17114377,
 14394667,
 13922088,
 12137023,
 11100766,
 17117963,
 10846092,
 13908305,
 10845467,
 11938798,
 14401855,
 12134073,
 12133644,
 11186142,
 11804310,
 17121771,
 17080722,
 11301683,
 12327807,
 14391477,
 11189918,
 10739358,
 13970493,
 12147298,
 13964073,
 17284274,
 14132029,
 14133173,
 12317762,
 12144809,
 11285201,
 13937866,
 11107856,
 11816446,
 14378255,
 14379393,
 11871082,
 14135206,
 17069263,
 13943078,
 12994393,
 12761067,
 17208694,
 11687008,
 17210760,
 10982900,
 11570788,
 11571121,
 17214955,
 12041558,
 12715651,
 12036995,
 11580688,
 12047834,
 12781170,
 11009153,
 12835029,
 12485409,
 12485523,
 11983501,
 11003157,
 12805800,
 12496886,
 11699600,
 17203514,
 12500533,
 17236698,
 10783039,
 10927057,
 10936058,
 17247490,
 10777579,
 17246711,
 17250533,
 10919972,
 10920449,
 12027922,
 12026694,
 12634734,
 12634340,
 12627654,
 17234117,
 14492000,
 12439387,
 14497772,
 11722723,
 12934631,
 12929647,
 17278765,
 11027029,
 13930564,
 12886314,
 17173851,
 10813882,
 17171355,
 11478860,
 11505868,
 17172144,
 17190183,
 10819810,
 10821119,
 12479011,
 14484783,
 12684194,
 17256977,
 14083909,
 12681016,
 10757091,
 11399657,
 10777361,
 11472124,
 10777592,
 12673588,
 12668915,
 14111204,
 17226173,
 12422047,
 14081668,
 10779754,
 12528642,
 12427592,
 12394797,
 11218560,
 12992244,
 12697883,
 12697311,
 11649080,
 14068958,
 14069841,
 11166068,
 14076487,
 11858588,
 12691117,
 12663883,
 11464584,
 14166843,
 12950296,
 17235293,
 14185399,
 11420675,
 12954133,
 11748161,
 12435065,
 12215942,
 10775404,
 12666933,
 11188562,
 10789168,
 13040781,
 12653123,
 14133390,
 12937320,
 10868058,
 11850664,
 14139421,
 12586633,
 10777481,
 12631325,
 14144889,
 11893072,
 12847539,
 14043495,
 12811946,
 11296299,
 12806043,
 12494954,
 11701552,
 17298153,
 17201260,
 11343349,
 11699164,
 13932227,
 12794536,
 12381818,
 13934699,
 12783912,
 10767861,
 12859526,
 12855549,
 11550029,
 11297800,
 12853550,
 13855414,
 17133826,
 17292974,
 17292980,
 13867959,
 12837439,
 12830013,
 12828324,
 11305770,
 12827852,
 13100833,
 12485767,
 12338129,
 13893213,
 17271030,
 13903353,
 12818847,
 11705017,
 11550326,
 17266352,
 12886129,
 12282002,
 10852965,
 12727098,
 12726396,
 17215043,
 13059995,
 14015701,
 13058129,
 11846106,
 14036132,
 11847191,
 12711834,
 14043220,
 12741348,
 11683780,
 12287923,
 12522499,
 12472855,
 13947382,
 13950330,
 12384132,
 11553543,
 11692679,
 17108044,
 13070751,
 11233714,
 13971239,
 13978161,
 11500043,
 13980139,
 12293484,
 12758091,
 10809581,
 17276194,
 17104278,
 13985550,
 13971972,
 14009960,
 12147224,
 14369913,
 10905421,
 14276588,
 14279374,
 14413717,
 11906847,
 14482342,
 10996354,
 11989016,
 10718613,
 14271956,
 13029625,
 14266663,
 14267336,
 14467951,
 10974210,
 14377624,
 11965590,
 12096077,
 11968112,
 14271819,
 10717029,
 14268464,
 14367871,
 12051905,
 12077991,
 14345199,
 14326779,
 11915981,
 10910117,
 12071423,
 10909944,
 12077002,
 14332281,
 14338774,
 12165486,
 11043049,
 12149618,
 13881053,
 11911467,
 11912782,
 11035815,
 14531213,
 14531476,
 12168225,
 11983413,
 11004546,
 12080910,
 14457485,
 11149694,
 17246686,
 11078479,
 14247381,
 14395864,
 12114854,
 12192683,
 14427342,
 11939935,
 14238550,
 12003245,
 14421405,
 10921574,
 11104261,
 12019744,
 14389003,
 14414794,
 10933263,
 11092018,
 11075020,
 10902592,
 12934104,
 11740681,
 13856175,
 12364985,
 12128380,
 13855328,
 12889867,
 13889346,
 14502192,
 11494333,
 14498414,
 10809910,
 14420961,
 13889336,
 10841179,
 17174055,
 13873331,
 11976183,
 17173926,
 12455538,
 12893892,
 13867679,
 13859904,
 12920749,
 12893320,
 12921430,
 17127460,
 17127256,
 11087434,
 17281750,
 14422482,
 11744680,
 11954739,
 11394029,
 17182983,
 11431869,
 10827253,
 10902803,
 13018741,
 12098438,
 10902180,
 14452873,
 17144241,
 12411782,
 17287646,
 13035191,
 12399677,
 11963138,
 14453601,
 12999807,
 11379435,
 14472838,
 12084832,
 14496795,
 11048364,
 13835647,
 11455855,
 11084642,
 14487972,
 17157828,
 12969979,
 10820247,
 17282621,
 12374987,
 12089133,
 12742740,
 11442628,
 10905437,
 11345166,
 13077655,
 10835374,
 12091547,
 14474908,
 14496852,
 12872473,
 12828363,
 12869865,
 12686132,
 12032357,
 11601473,
 12680411,
 11601821,
 12673742,
 12671002,
 11608469,
 10958020,
 17228833,
 17229129,
 17216772,
 17262202,
 11997256,
 11676921,
 10971463,
 12701075,
 17261587,
 10954582,
 12657352,
 10927383,
 10927535,
 11657029,
 11643627,
 12579658,
 10780171,
 11647399,
 12023386,
 12611007,
 12612840,
 12653289,
 10952984,
 12651793,
 11578867,
 11662937,
 11625145,
 12617525,
 12617337,
 12552357,
 17249314,
 12552934,
 11578746,
 10978637,
 12716175,
 11711024,
 12485471,
 11709871,
 17196910,
 12819999,
 11983750,
 12819136,
 10718991,
 12814777,
 12835004,
 11517235,
 11511695,
 11024385,
 12861609,
 11023352,
 11502939,
 11978142,
 12074210,
 11532400,
 12854999,
 11508656,
 14061116,
 12069604,
 11551880,
 11555650,
 12510814,
 12758817,
 11560770,
 12755629,
 11680763,
 12040815,
 12048189,
 12776218,
 11549102,
 10718880,
 17200628,
 11002392,
 17200736,
 12056451,
 12796007,
 12789721,
 11989543,
 12499826,
 12795639,
 14215602,
 14345725,
 14295140,
 11818564,
 14297397,
 11930319,
 11041026,
 12319615,
 11283813,
 11136059,
 12314178,
 13949910,
 11215536,
 12145585,
 14069422,
 12167167,
 14319131,
 12145878,
 17110949,
 14181762,
 13939198,
 11208137,
 11869378,
 11197626,
 11868300,
 14178641,
 14393398,
 11721753,
 14287204,
 11867096,
 13933655,
 14113389,
 11140263,
 11909799,
 11205565,
 10860028,
 14169897,
 13937874,
 14177716,
 13959427,
 11219009,
 14025664,
 13987774,
 14022590,
 13992029,
 11920875,
 14336357,
 11116964,
 11921664,
 11267235,
 12279439,
 14345793,
 13984566,
 13984559,
 13966999,
 13970419,
 11127580,
 11305540,
 11153699,
 11850039,
 11231565,
 12165507,
 14370721,
 10730720,
 12162769,
 14363157,
 14327652,
 14331525,
 13971315,
 14131799,
 12281458,
 12333570,
 11295251,
 10734456,
 10727141,
 10866265,
 11298645,
 12178129,
 12338557,
 11145837,
 14221827,
 14214264,
 13917650,
 11096109,
 17119929,
 11192144,
 11874823,
 14136049,
 14209793,
 14404464,
 13902598,
 17297959,
 11191920,
 13913723,
 10866354,
 11179602,
 14404365,
 17055289,
 11194954,
 11177034,
 14271341,
 14153001,
 13893178,
 12186785,
 14145280,
 10917829,
 11508273,
 11718163,
 12271482,
 17087698,
 14144470,
 11574891,
 12229635,
 12849228,
 11227940,
 10979953,
 10964437,
 12714856,
 11235753,
 14338670,
 12882529,
 12883906,
 14167635,
 11180405,
 17178516,
 17178343,
 12639178,
 10761048,
 10868238,
 10853825,
 12894542,
 11262792,
 12895034,
 11494609,
 14331489,
 12278378,
 14154567,
 14031654,
 10889441,
 12682409,
 17232528,
 12703886,
 11153786,
 11997479,
 11182894,
 11240304,
 14265275,
 11502007,
 11673739,
 14166104,
 10786612,
 12244733,
 14115068,
 12518581,
 12755884,
 12518180,
 11864955,
 10996457,
 12218561,
 14247835,
 12519167,
 17075742,
 11206673,
 11686265,
 11100381,
 17267723,
 14275084,
 11602158,
 17207486,
 14275529,
 10992561,
 11198913,
 11190655,
 12049843,
 12781278,
 14123764,
 14100876,
 12805168,
 14315097,
 12827854,
 12031755,
 11004728,
 17082723,
 12834638,
 12265162,
 14141646,
 14064278,
 17196804,
 17196829,
 11289917,
 10884620,
 12806349,
 12220953,
 11002440,
 11002537,
 17069449,
 10765863,
 12741995,
 12819844,
 14298170,
 14246296,
 12803657,
 17258252,
 10872034,
 12470439,
 11059859,
 13901624,
 17287180,
 12407664,
 11659011,
 14201207,
 11286280,
 12143689,
 11962313,
 13847548,
 13943803,
 13041099,
 12193744,
 11096837,
 12311684,
 11436530,
 12137700,
 14469644,
 13015562,
 11319347,
 12131894,
 11059395,
 14377018,
 11425917,
 14420731,
 17292548,
 14212949,
 10934281,
 11954030,
 11390064,
 13928600,
 14440214,
 11078998,
 11348662,
 11165913,
 11165717,
 14434412,
 13928877,
 10725593,
 11391622,
 14394241,
 12899884,
 10895765,
 13047258,
 10830477,
 10936481,
 11281318,
 14389133,
 10712236,
 11103828,
 11950466,
 10902239,
 12391711,
 11280776,
 14224399,
 17245382,
 12616485,
 13887695,
 10851565,
 10947995,
 12014557,
 11272513,
 12942828,
 17123883,
 17293309,
 12078184,
 13891982,
 11270027,
 11034253,
 11661319,
 11306866,
 11268723,
 12924806,
 11309251,
 17234729,
 12916109,
 11473672,
 17107657,
 12355139,
 11110475,
 10756987,
 13959503,
 11090629,
 12977103,
 12904552,
 12910591,
 14374810,
 11302562,
 12281921,
 13972161,
 11056045,
 13872397,
 11052240,
 11824573,
 17283262,
 13894953,
 12613626,
 12972713,
 12434368,
 14446519,
 11458204,
 11787443,
 13053057,
 12523716,
 10808161,
 13080830,
 17056757,
 11094302,
 12781626,
 17056189,
 13890822,
 12700980,
 17246635,
 11599658,
 13900170,
 14141443,
 10771619,
 17262038,
 14153569,
 11878440,
 14421058,
 11183006,
 10837354,
 14219580,
 11182836,
 11800566,
 14210968,
 14165595,
 13886097,
 12145305,
 14080737,
 14468236,
 11058628,
 14019238,
 11008989,
 14375039,
 12550533,
 14485613,
 12024708,
 12436179,
 10851199,
 14184436,
 14468020,
 14234594,
 13061651,
 17054520,
 11553452,
 12915532,
 12813400,
 12173521,
 17225827,
 ...]

In [23]:
column_list_duplicates = list(df.parcelid[df.parcelid.duplicated()].drop_duplicates())
column_list_duplicates_df = pd.DataFrame(column_list_duplicates)
column_list_duplicates_df.shape[0]

120

In [24]:
column_list_duplicates

[11721753,
 11289917,
 11705026,
 14269464,
 11446756,
 10739478,
 13973642,
 11389003,
 11967869,
 11429175,
 11696784,
 11921077,
 11499166,
 11391972,
 13960284,
 11743374,
 12870253,
 11460552,
 14236060,
 12982361,
 14365030,
 14008322,
 11552513,
 12478591,
 12535098,
 12575721,
 12443331,
 12955531,
 11391577,
 13880422,
 12814323,
 12385712,
 10976131,
 11658743,
 12057023,
 11187927,
 11420117,
 11451345,
 10984661,
 12196319,
 12827519,
 11957553,
 11367981,
 11312124,
 11711539,
 12035592,
 14079874,
 13071085,
 10732347,
 10722858,
 12114701,
 13083743,
 17086759,
 13921492,
 17193966,
 11969146,
 12178305,
 11289757,
 11961462,
 12492881,
 12285822,
 12519794,
 14092694,
 11460921,
 12749741,
 11797465,
 13863275,
 11061050,
 11733550,
 10779619,
 11917650,
 14012730,
 14430658,
 11830465,
 17165634,
 10811539,
 12048224,
 17165666,
 17136356,
 14010551,
 12811794,
 10833654,
 13885693,
 12892594,
 12347492,
 12941764,
 10871677,
 14257065,
 11499751,
 11603473,
 14532131,
 11958628,
 12118682,
 12102046,
 12847318,
 14050918,
 11717962,
 14455319,
 14074415,
 10979425,
 17225336,
 162960529,
 12099888,
 12537644,
 13893511,
 17280166,
 14254548,
 12224279,
 17098564,
 10879060,
 12137395,
 11991059,
 14088988,
 14097534,
 12121210,
 12621730,
 10956664,
 14448410,
 13066981,
 17282392]

In [60]:
df2 = df[df['parcelid'].isin(column_list_duplicates)]
df2.T

,671,672,834,835,1195,1196,1380,1381,1795,1796,...,35441,35442,36900,36901,38620,38621,40594,40595,43477,43478
typeconstructiontypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
storytypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
propertylandusetypeid,261,261,261,261,261,261,261,261,261,261,...,261,261,261,261,261,261,261,261,261,261
heatingorsystemtypeid,7.0,7.0,2.0,2.0,2.0,2.0,NaN,NaN,7.0,7.0,...,2.0,2.0,2.0,2.0,NaN,NaN,2.0,2.0,NaN,NaN
buildingclasstypeid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
buildingclassdesc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
heatingorsystemdesc,Floor/Wall,Floor/Wall,Central,Central,Central,Central,NaN,NaN,Floor/Wall,Floor/Wall,...,Central,Central,Central,Central,NaN,NaN,Central,Central,NaN,NaN
propertylandusedesc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,...,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential
storydesc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
typeconstructiondesc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df2.parcelid.nunique()

120

In [57]:
isin:array = [column_list_duplicates]df.loc[df['parcelid'].isin(array)]

SyntaxError: invalid syntax (1258100158.py, line 1)

<div class="alert alert-danger">


### How can 14092694 exist in Duplicates but not in Original or Unique?</div> 

<div class="alert alert-success">

    
* Because the list being displayed for search is not complete
    # ...]</div>

In [38]:
original_list = list(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '5', '7', '8', '8'])
original_list_df = pd.DataFrame(original_list, columns = ['Numbers'])
original_list_df.shape[0]

14

In [39]:
original_list

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '5', '7', '8', '8']

In [26]:
unique_list = list(original_list_df.Numbers.unique())
unique_list_df = pd.DataFrame(unique_list)
unique_list_df.shape[0]

10

In [30]:
unique_list

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [28]:
duplicate_list = list(original_list_df.Numbers[original_list_df.Numbers.duplicated()].drop_duplicates())
duplicate_list_df = pd.DataFrame(duplicate_list)
duplicate_list_df.shape[0]

3

In [29]:
duplicate_list

['5', '7', '8']

<div class="alert alert-warning">


## Convert before removing Null/NaN
* basementsqft
* decktypeid
* pooltypeid10
* poolsizesum
* pooltypeid2
* pooltypeid7
* poolcnt
* hashottuborspa
* taxdelinquencyyear
* fireplacecnt
* numberofstories
* garagecarcnt
* garagetotalsqft

convert_columns_df = df(df['basementsqft', 
                        'decktypeid', 
                        'pooltypeid10', 
                        'poolsizesum', 
                        'pooltypeid2', 
                        'pooltypeid7', 
                        'poolcnt', 
                        'hashottuborspa', 
                        'taxdelinquencyyear', 
                        'fireplacecnt', 
                        'numberofstories', 
                        'garagecarcnt', 
                        'garagetotalsqft'])

In [ ]:
# Convert Null/NaN to 0 in order to retain values and further convert to True/False, has/has_not, is/is_not.

# CHECK IS_NULL

In [ ]:
# set temporary conditions for this instance of code
with pd.option_context('display.max_rows', None):
    # print count >0 of nulls by column
    print (df.isnull().sum().sort_values(ascending=False))

In [ ]:
df.columns[df.isnull().any()].tolist()

In [ ]:
# creating bool series True for NaN values
bool_series = pd.isnull(df["taxamount"])
 
# filtering data
# displaying data only with team = NaN
df[bool_series]

In [ ]:
# creating bool series True for NaN values
bool_series = pd.isnull(df["regionidzip"])
 
# filtering data
# displaying data only with team = NaN
df[bool_series].T

In [ ]:
# Check result of dropping all columns with more than 1,442 NULL/NaN
df.dropna(axis='columns', thresh=19_000).isnull().sum().sort_values(ascending=False)

In [ ]:
# Drop all columns with more than 1,442 NULL/NaN
df = df.dropna(axis='columns', thresh=19_000)

In [ ]:
# Check Work
df.isnull().sum().sort_values(ascending=False)

In [ ]:
# Check NO LOSS of records
df.shape[0]

In [ ]:
# Run custom Function to check remaining nulls and percentage of DataFrame
ee.null_stats(df)

In [ ]:
# Drop rows with NULL/NaN since it is only 3% of DataFrame 
df = df.dropna()

In [ ]:
# Check Work
df.isnull().sum().sort_values(ascending=False)

# CHECK WHITESPACE

In [ ]:
rslt_df = df[df.transactiondate > '2017-12-31']
rslt_df

In [ ]:
df.fips.unique()

In [ ]:
df.regionidzip.unique()

Given more time...
* We could scrape Zip Code Income, Population and Demographics to include in the DataFrame
* [Name Census](https://namecensus.com/zip-codes/california/orange-county/#:~:text=Orange%20County%20makes%20up%20approximately,information%20for%20each%20zip%20code) keeps all of this data
* Here is an example: <a href="https://namecensus.com/demographics/california/90620/">90620 Zip Code Income, Population and Demographics</a>
    * REF:
    * 90620 Zip Code Income, Population and Demographics. NameCensus.com. Retrieved from https://namecensus.com/demographics/california/90620/.